.links{
    color: aqua;
}

.links:hover{
    cursor: pointer;
}

.navigation{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
}

.navigation > a{
    padding: 20px;
    background-color: black;
    text-decoration: none;
}

.navigation > a:hover{
    background-color: green;
}

.buyQ{
    border: 1px solid aqua;
    display: inline-block;
}

.trow:hover{
    background-color: black;
    cursor:pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: green;
    top: 0px;
    position: sticky;
    z-index: 2;
}

.logout > button{
    align-items: center;
    background-color: rgb(214, 80, 80);
    top: 30px;
    left: 20px;
    color: black;
}
.logout > button:hover{
    background-color: orangered;
}

.cats > button{
    margin: 20px;
}

.indexDec > ul{
    padding-left: 0px;
}
.indexDec > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}