# Client files
/server/client/node_modules
/server/client/package-lock.json
/server/client/package.json
# /server/client/README.md

# Server files
/server/node_modules
/server/package.json
/server/.env
/server/yarn.lock
/server/plans/
# Root files 
yarn.lock